@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,200&display=swap");
body {
  margin: 0;
  height: 100vh;
  font-family: 'poppins', 'arial';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.name {
  text-align: center;
  padding: 1.5em;
  background-color: #333333;
  color: white;
  font-weight: bold;
}

.name .name-bg {
  width: 35px;
  padding-left: 12rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #1a0c27;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #19EBCE;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  display: block;
  padding: 0 1em;
}

.social-headers, .hero-image {
  display: none;
}

.hero {
  background: #8411E8;
  color: white;
  display: -ms-grid;
  display: grid;
}

.hero .contents {
  text-align: center;
  padding: 9em 2em;
}

.hero .contents .meet {
  color: #E534E5;
  margin-top: 4em;
}

.hero .contents .scroll {
  margin-top: 3em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  background: #FF1DFF;
  top: 0;
  left: 0;
  opacity: 20%;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .2em;
  color: #8514DB;
  font-size: 0.8em;
}

.featured-title {
  color: #181717;
  font-weight: bold;
  text-transform: uppercase;
}

.featured-desc {
  color: #1f1f1f;
  margin-top: 2em;
  margin-bottom: 2em;
}

.service {
  background: #E25DD9;
}

.service-container ul li {
  background: #fcf3f3;
  padding: 1em;
  border-radius: 1.5em;
  margin-bottom: 3em;
}

.service-container ul li .icon-container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: 2em;
}

.service-container ul li img {
  width: 50px;
}

.service-title {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 80%;
}

.projects {
  background: #f7f3f3;
}

.project-container {
  padding: 2em;
}

.project-container a img {
  border-radius: 1em;
}

@media only screen and (min-width: 700px) {
  .featured, .projects {
    text-align: left;
  }
  .featured, .project-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .project-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right img {
    margin-left: 2em;
    padding-top: 2em;
  }
  .project-container img {
    margin-left: 2em;
    margin-bottom: -2em;
  }
  .service {
    margin-top: -5em;
    margin-bottom: -8em;
  }
  .service-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1.3em;
    padding-top: 1em;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 68% auto;
        grid-template-columns: 68% auto;
    background: unset;
  }
  .nav-container header {
    background: #7415C6;
  }
  .nav-container .social-headers {
    display: block;
    background: white;
  }
  .nav-container .social-headers ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    float: right;
    padding-right: 9em;
  }
  .nav-container .social-headers img {
    width: 20px;
    padding: 2em 1em 2em 4em;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 68% auto;
        grid-template-columns: 68% auto;
    background: unset;
  }
  .hero .contents {
    text-align: left;
    background: #8411E8;
    padding: 2em 2em 1em 9em;
  }
  .hero h1 {
    font-size: 3em;
    line-height: 1.5em;
  }
  .hero .hero-image {
    display: unset;
    margin-left: -49%;
    width: 100%;
  }
  .hero .meet {
    font-size: 1.4em;
    font-weight: bold;
  }
  .hero .project-container img {
    max-width: 300x;
  }
}

.circle {
  -webkit-animation: circleAnimation 1s infinite alternate;
          animation: circleAnimation 1s infinite alternate;
}

@-webkit-keyframes circleAnimation {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@keyframes circleAnimation {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}
/*# sourceMappingURL=main.css.map */